:host {
    max-width: calc(100% - 300px);
}

.acceptance-status-header {
    ::ng-deep .mat-sort-header-container {
        justify-content: center;
        margin-left: 18px;
    }
}

.ellipse {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff6a6a;
    margin: 0 auto;
}

.ellipse.accepted {
    background: #82ff6a;
}

td {
    white-space: nowrap;
}

.project-list-filters {
    width: fit-content;
    position: relative;

    mat-form-field {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    mat-form-field:last-of-type {
        margin-right: 0px
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .reset-filters-container {
        position: absolute;
        top: -40px;
        right: 0;   
    }

    .reset-filters-container.hidden {
        display: none;
     }     
}


@media (max-width: 1300px) {
    .project-list-filters {
        width: 100%;

        .reset-filters-container {
            position: static;  
            display: inline-flex;
            margin-bottom: 15px;
        }

        mat-form-field:last-of-type {
            margin-right: 15px
        }
    }
    
}

