<table *ngIf="!editMaxAvailability || !editFormShown">
  <tr *ngFor="let availability of supervisorAvailability">
    <td>{{ availability.supervisor.name }}</td>
    <td>
      {{ availability.assigned }} / {{ availability.max }}
    </td>
  </tr>
</table>

<form *ngIf="editMaxAvailability" [formGroup]="form">
  <div class="fields" *ngIf="editFormShown">
    <mat-form-field *ngFor="let availability of availability.controls" (click)="$event.stopPropagation()">
      <mat-label>{{ availability.value.supervisor.name }}</mat-label>
      <input type="number" min="0" matInput [formControl]="getMaxFormControl(availability)">
    </mat-form-field>
  </div>
  <div class="actions">
    <button [ngClass]="{'fullwidth': !editFormShown}" color="primary" mat-raised-button (click)="editFormShown = !editFormShown; $event.stopPropagation()">
      {{ !editFormShown ? 'Edit availability' : 'Cancel' }}
    </button>
    <button *ngIf="editFormShown" type="submit" color="primary" mat-raised-button (click)="onSubmit();">
      Submit
    </button>
  </div>
</form>
