
<div class="project-details">
  <div>
    <div class="back" (click)="navigateBack()"><mat-icon>arrow_back</mat-icon> Project List </div>
    <project-title-desc-tech-details [projectDetails]="projectDetails" />
    <div class="links-and-defense-details">
      <project-external-links [externalLinks]="projectDetails.externalLinks!" />
      <project-defense-details [projectDetails]="projectDetails" />
    </div>
  </div>
  <div>
    <project-members-table [members]="projectDetails.members!" />
    <project-action-buttons [projectDetails]="projectDetails" [user]="user" />
  </div>
</div>

<project-evaluation-cards [evaluationCards]="projectDetails.evaluationCards!" [projectId]="projectDetails.id!" />
