

:host {
    display: grid;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;

    .project-details {
        display: flex;
        justify-content: space-between;
        column-gap: 35px;
        margin-bottom: 50px;
    }

    .back {
        display: flex;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        width: fit-content;
    }
}

.links-and-defense-details {
    display: flex;
}