form {
    display: grid;
    max-width: 500px;
    margin: 0 auto;

    mat-form-field {
        width: 100%;
    }

    h1 {
        margin-bottom: 30px;
    }

    div {
        display: flex;
        align-items: center;

        a {
            margin-top: -20px;
            margin-left: 10px;
        }
    }

    .submit-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    .hidden {
        opacity: 0;
    }
}

