<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>External links form</h1>
    <div *ngFor="let externalLink of externalLinks.controls">
        <mat-form-field  appearance="fill">
            <mat-label>{{getFormControl(externalLink).name}}</mat-label>
            <textarea matInput [formControl]="getFormControl(externalLink).url"></textarea>
        </mat-form-field>
        <div class="link">
            <a target="_blank" 
               [href]="getFormControl(externalLink).url.value ? getFormControl(externalLink).url.value : null" 
               [class.hidden]="!getFormControl(externalLink).url.value" 
                mat-icon-button>
                <mat-icon>link</mat-icon>
            </a>
        </div>
    </div>
    <div class="submit-button-container">
        <button color="primary" type="submit" mat-raised-button [mat-dialog-close]="true" [disabled]="!form.valid" cdkFocusInitial>Submit</button>
    </div>
</form>