:host {
    max-width: calc(100% - 300px);
}

.acceptance-status-header {
    ::ng-deep .mat-sort-header-container {
        justify-content: center;
        margin-left: 18px;
    }
}

.ellipse {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff6a6a;
    margin: 0 auto;
}

.ellipse.accepted {
    background: #82ff6a;
}

td {
    white-space: nowrap;
}

mat-form-field {
    margin-right: 15px;
}