.back {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    width: fit-content;
}

table {
    border-collapse: separate;
    border-spacing: 30px 0;
    margin-top: 50px;
}

th {
    font-weight: normal;
    font-size: 1em;
    text-align: left
}

.centered-header {
    text-align: center;
}

.expand-more-cell {
    div {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
}

td h3 {
    margin-left: 30px;
    margin-top: 16px;
}

.criteria-group-name {
    width: auto;
    max-width: 250px;
}


