<div class="title-and-add-project-button">
    <h1>Project groups</h1>
    <button *ngIf="projectButtonText !== ''" (click)="openProjectFormModal()" mat-raised-button color="primary">
        {{ projectButtonText }}
    </button>
</div>
<div class="tables">
    <div class="project-list-container">
        <project-list></project-list>
    </div>
    <div class="supervisors-list-container">
        <div class="supervisors-list">
            <project-supervisors></project-supervisors>
        </div>
    </div>
</div>
