:host {
    width: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper, ::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active  {
    padding: 0px !important;
    overflow: visible !important;
}

::ng-deep .mat-mdc-tab-body-content  {
    overflow-y: hidden !important;
    display: flex;
    justify-content: space-between;
}

.committee-selection-container {
    display: flex;
    column-gap: 50px;
    width: 100%;
}
