<h1>Project defense schedule</h1>
<defense-date-range-selection *ngIf="!assignments || true"></defense-date-range-selection>
<br>
<br>
<br>
<br>
<defense-time-slots-selection></defense-time-slots-selection>
<br>
<br>
<br>
<br>
<div *ngIf="assignments" class="committee-selection-container">
    <div class="buttons-container"> 
        <button *ngIf="true" (click)="getDefenseSummary()" mat-raised-button color="primary">Export summary</button>
    </div>
    <div class="tables-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">

            <mat-tab *ngFor="let assignment of assignments | keyvalue" [label]="assignment.key">
                <defense-committee-selection (updateStatistics)="onStatisticsUpdated($event)" [assignment]="assignments[assignment.key]"></defense-committee-selection>
            </mat-tab>
        </mat-tab-group>
        <defense-committee-statistics [statistics]="statistics"></defense-committee-statistics>
    </div>
</div>


<br>
<br>
<br>
<br>
<defense-schedule-selection></defense-schedule-selection>


  
