<div class="title-and-add-project-button">
    <h1>Project groups</h1>
    <button *ngIf="projectButtonText !== ''" (click)="openProjectForm()" mat-raised-button color="primary">
        {{ projectButtonText }}
    </button>
</div>
<div class="project-filters-container">
    <project-filters></project-filters>
</div>
<div class="tables">   
    <div class="project-list-container">
        <project-list 
            (openProjectDetailsEvent)="getProjectDetailsAndOpenModal($event)" 
            [columns]="displayedProjectListColumns" 
            [projects]="projects"></project-list>
    </div>
    <div class="supervisor-availability-list-container">
        <supervisor-availability-list
            [columns]="supervisorListColumns"
            [supervisorAvailability]="supervisorAvailabilityDataSource"
        ></supervisor-availability-list>
        <button *ngIf="isCoordinator || true" (click)="openSupervisorAvailabilityForm()" mat-raised-button color="primary">
            Edit availability
        </button>
    </div>
</div>
