<mat-form-field>
  <mat-label test="search-external-links">Search</mat-label>
  <input [(ngModel)]="searchValue" matInput (keyup)="onFiltersChange()">
</mat-form-field>

<mat-form-field appearance="fill" test="main-div-supervisor-external-links">
  <mat-label test="supervisor-external-links">Supervisor</mat-label>
  <mat-select [(ngModel)]="supervisorIndexNumber" (selectionChange)="onFiltersChange()" test="mat-select-supervisor-external-links">
    <mat-option *ngIf="supervisorIndexNumber !== undefined" [value]="undefined" test="mat-option-supervisor-external-links">---</mat-option>
    <mat-option *ngFor="let supervisor of (supervisors$ | async)" [value]="supervisor.indexNumber" test="mat-select-supervisor-external-links-2">
      {{ supervisor.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button *ngIf="isAnyFilterActive()" (click)="resetFilters()" mat-button test="reset-button-external-links">reset</button>
