<form [formGroup]="projectGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <h3>Members:</h3>
        <div class="member-container" *ngFor="let member of members.controls;">
            <div>{{ getMemberData(member).name  }} <p>{{getMemberData(member).email}}</p></div>
            <mat-form-field appearance="fill">
                <mat-label>Select role</mat-label>
                <mat-select [formControl]="getMemberData(member).role">
                    <mat-option value="Front-end">Front-end</mat-option>
                    <mat-option value="Back-end">Back-end</mat-option>
                    <mat-option value="Full stack">Full stack</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="removeMember(member)" type="button" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    <mat-form-field appearance="fill">
        <mat-label>Member email</mat-label>
        <input #memberInput matInput [matAutocomplete]="autoStudents" [formControl]="member">
        <mat-autocomplete 
            #autoStudents="matAutocomplete" 
            autoActiveFirstOption
            (optionSelected)="addMember($event.option.value)"
        >
            <mat-option *ngFor="let student of (filteredStudents | async)" [value]="student">
                {{ student.name + ' ' + student.email }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <h3>Technologies:</h3>
    <div class="field-and-button">
        <mat-form-field class="add-technology" appearance="fill">
            <mat-label>Technology</mat-label>
            <mat-chip-grid  #chipGrid aria-label="Technology" formControlName="technologies">
              <mat-chip-row  *ngFor="let technology of technologies" (removed)="removeTechnology(technology)">
                {{technology}}
                <button matChipRemove [attr.aria-label]="'remove ' + technology">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Add technologies separated by comma" [formControl]="technologyCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="autoTechnologies"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addTechnology($event)"/>
            <mat-autocomplete (optionActivated)="activatedTechnology($event)"
                               #autoTechnologies="matAutocomplete" 
                               (optionSelected)="selectedTechnology($event)">
              <mat-option *ngFor="let technology of filteredTechnologies | async" [value]="technology">
                {{technology}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>