<form [formGroup]="projectGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <h3>Members:</h3>
    <div *ngFor="let member of members.controls">
        {{ getMemberData(member) }}
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Member email</mat-label>
        <input #memberInput matInput [matAutocomplete]="auto" [formControl]="member">
        <mat-autocomplete 
            #auto="matAutocomplete" 
            autoActiveFirstOption
            [displayWith]="getMemberName"
            (optionSelected)="addMember($event.option.value)"
        >
            <mat-option *ngFor="let student of (filteredStudents | async)" [value]="student">
                {{ student.name + ' ' + student.email }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <h3>Technologies:</h3>
    <div class="field-and-button">
        <mat-form-field (click)="addTechnology()" appearance="fill">
            <mat-label>Technology name</mat-label>
            <input matInput>
        </mat-form-field>
        <button type="button" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>