form {
    display: grid;
}

.add-technology-button {
    background: #4050b5;
    color: #f5f5f5;
}

.field-and-button {
    display: flex;
    gap: 30px;

    mat-form-field {
        flex: 1 1 100%;
        min-width: 0;
    }
}


.member-container {
    font-size: 16px;
    display: flex;
    gap: 15px;
    align-items: center;

    p {
        font-size: 14px;
        color: grey;
    }

    button {
        margin-top: -22px;
    }

}

mat-chip-row {
    
    mat-icon { 
        color: #4758b8;
    }

    ::ng-deep .mat-mdc-chip-action-label {
        color: #4758b8 !important;
    }

   
}

::ng-deep .mat-mdc-standard-chip {
    background-color: #dde2ff !important;
}

mat-dialog-content {
    display: grid;
    min-width: 500px;
    grid-gap: 10px
}

h3 {
    margin: 0px;
}