<div class="back" (click)="navigateBack()">
    <mat-icon>arrow_back</mat-icon>
    {{ comingFromDetailsPage ? 'Project Details' : 'Project List' }}
</div>
<h2 mat-dialog-title>
    {{ projectDetails ? 'Edit project form' : 'New project form'  }}
</h2>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="fieldContainer">
        <div>
            <mat-form-field appearance="fill">
                <mat-label test="project-name">Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="projectForm.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label test="project-description">Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="projectForm.controls.description.invalid">{{getErrorMessage('description')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="add-technology" appearance="fill">
                <mat-label test="project-technology">Technology</mat-label>
                <mat-chip-grid #chipGrid aria-label="Technology" formControlName="technologies">
                    <mat-chip-row *ngFor="let technology of technologies" (removed)="removeTechnology(technology)">
                        {{technology}}
                        <button matChipRemove [attr.aria-label]="'remove ' + technology" test="cancel-project-icon">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Add technologies separated by comma" [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTechnology($event)" />
            </mat-form-field>

            <mat-form-field *ngFor="let externalLink of externalLinks.controls" appearance="fill">
                <mat-label>{{getExternalLinkFormControl(externalLink).name}}</mat-label>
                <span>Share a link before: {{getExternalLinkFormControl(externalLink).deadline}}</span>
                <input matInput [formControl]="getExternalLinkFormControl(externalLink).url">
            </mat-form-field>
        </div>
        <div>
            <div *ngIf="showMembersField">
                <div class="member-container" test="member-container-project" *ngFor="let member of members.controls;">
                    <div test="member-element-project">{{ getMemberData(member).name }}
                        <p>{{getMemberData(member).email}}</p>
                    </div>
                    <mat-form-field appearance="fill" test="select-role-form">
                        <mat-label>Select role</mat-label>
                        <mat-select [formControl]="getMemberData(member).role" test="select-role-item">
                            <mat-option value="FRONTEND" test="select-role-front-end">Front-end</mat-option>
                            <mat-option value="BACKEND" test="select-role-back-end">Back-end</mat-option>
                            <mat-option value="FULLSTACK" test="select-role-fullstack">Full stack</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        [class.hidden]="getMemberData(member).indexNumber === user.indexNumber"
                        [disabled]="getMemberData(member).indexNumber === user.indexNumber"
                        (click)="removeMember(member)" type="button" mat-icon-button>
                        <mat-icon test="close-project-button">close</mat-icon>
                    </button>
                </div>
                <mat-form-field appearance="fill" test="select-member-form-2">
                    <mat-label>Select member</mat-label>
                    <input matInput [matAutocomplete]="autoStudents" [formControl]="memberInput">
                    <mat-autocomplete #autoStudents="matAutocomplete" autoActiveFirstOption (optionSelected)="onMemberSelect($event.option.value)">
                        <mat-option *ngFor="let student of (filteredStudents | async)" [value]="student" test="select-form-item-2">
                            {{ student.name + ' ' + student.email }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field *ngIf="showSupervisorField" appearance="fill" test="select-supervisor-form">
                    <mat-label>Supervisor</mat-label>
                    <mat-select formControlName="supervisorIndexNumber">
                        <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.indexNumber" test="select-supervisor-item">{{ supervisor.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="showProjectAdminField" appearance="fill" test="select-project-admin-form">
                    <mat-label>Project Admin</mat-label>
                    <mat-select formControlName="projectAdmin" test="select-project-admin-item">
                        <ng-container></ng-container>
                        <mat-option *ngFor="let member of acceptedMembers" [value]="member.indexNumber" test="select-project-admin-item-2">
                            {{ member.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttons-container">
                <button color="primary"  type="submit" mat-raised-button  [disabled]="!projectForm.valid" cdkFocusInitial test="project-form-component-submit-button">Submit</button>
            </div>
        </div>
    </div>
</form>
