<div style="overflow-x:auto;" class="mat-elevation-z8">
  <table mat-table [dataSource]="projects" matSort test="table-projects-groups">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header test="name-project-groups"> Name </th>
      <td mat-cell *matCellDef="let project"> {{project.name}} </td>
    </ng-container>
    <ng-container matColumnDef="supervisorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header test="supervisor-projects-groups"> Supervisor </th>
      <td mat-cell *matCellDef="let project"> {{project.supervisorName}} </td>
    </ng-container>
    <ng-container matColumnDef="accepted">
      <th class="acceptance-status-header" mat-header-cell *matHeaderCellDef mat-sort-header test="acceptance-status-projects-groups"> Acceptance status </th>
      <td mat-cell *matCellDef="let project">
        <div [class.accepted]="project.accepted" class="ellipse"></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns" test="table-elements-projects-groups"></tr>
    <tr style="cursor: pointer" (click)="openProjectDetailsEvent.emit(project.id)" mat-row *matRowDef="let row; columns: columns; let project"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>
